#main {
  background-image: url(../images/background-menu.jpg);
  color: white;
  font-family: "Kiwi Maru", serif;
}

#menu {
  margin: 4rem auto;
  padding: 0 4rem;
}

h1 {
  display: none;
}

h2 {
  font-weight: bold;
  color: #26333b;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
  padding-bottom: 0.1em;
  background-color: #ffbf58;
}

h3 {
  margin-right: 0.2rem;
}

h2,
h3 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.main-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-logo {
  width: 400px;
  margin: 1rem 0 2rem 0;
  border: 5px dashed black;
  border-radius: 200px;
  background-color: lavender;
}

ul {
  list-style-type: none;
}

ul.custom-ul {
  margin: 0;
  padding: 1rem;
}

.promo-logo {
  width: 190px;
  background-color: #26333b;
  border-radius: 100px;
  padding: 1rem;
  border: 5px dotted white;
}

.h-division {
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 1rem 0;
}

.dish-row {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
}

.dish-row p {
  margin: 0 0.2rem 0 0;
  font-size: 1.75rem;
}

.union-row {
  border-bottom: 3px dotted white;
  flex-grow: 2;
}

.promo-row {
  margin: 0;
  text-align: center;
  padding: 1rem 0.5rem;
  background-color: #ffbf58;
}

.promo-row h3 {
  font-size: 49px;
}

.promo-row p {
  font-size: 50px;
  margin: 0;
}

.promo-row div:first-child {
  align-self: center;
}

.outer-promo-wrap {
  border: 10px double white;
}

.promo-row h3,
.promo-row p {
  font-weight: 900;
  color: #333333;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

.promo-img {
  display: flex;
  justify-content: end;
  align-items: center;
}

.vtwo-promo-row,
.vthree-promo-row {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
}

.vthree-promo-row {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.vtwo-promo-row div:nth-child(2),
.vthree-promo-row div:nth-child(2) {
  padding: 0.5rem 2rem;
  text-align: center;
}

.vtwo-promo-row div:nth-child(2) {
  border-top: 5px dotted white;
  border-bottom: 5px dotted white;
}

.vtwo-promo-row div:nth-child(2) p,
.vtwo-promo-row div:nth-child(2) h3,
.vthree-promo-row div:nth-child(2) p,
.vthree-promo-row div:nth-child(2) h3 {
  font-size: 50px;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px #ededed26;
  margin: 0;
}

.vtwo-promo-row div:nth-child(2) p,
.vthree-promo-row div:nth-child(2) p {
  color: #ffbf58;
  text-shadow: 2px 2px 0px #4d4d4d, 5px 4px 0px #ededed26;
}

.vtwo-promo-row:nth-child(5) {
  margin-top: 2rem;
}

.vtwo-free-logo {
  width: 150px;
}

.vthree-promo-row div:nth-child(2) h3 {
  color: black;
}

.vthree-promo-row div:nth-child(2) {
  background-color: lavender;
  border: 5px dashed black;
}

.thank-you {
  font-size: 30px;
  text-shadow: 2px 2px 0px #827d7d, 5px 4px 0px #ededed26;
  text-align: center;
  border: 10px double goldenrod;
  border-radius: 20px;
  background-color: lavender;
}

.thank-you p {
  margin-bottom: 0.5rem;
}

/* Media queries */

@media only screen and (min-width: 768px) {
  .air-col {
    margin-left: 0.5rem;
  }
}

/* Custom over Bootstrap */
.menu-page:first-child {
  background-color: #3f515d;
  padding: 1rem;
  border-top: 10px double white;
  border-bottom: 10px double white;
  border-right: 3px dotted white;
  border-left: 3px solid white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.menu-page:nth-child(2) {
  background-color: #6a8495;
  padding: 1rem;
  border-top: 10px double white;
  border-bottom: 10px double white;
  border-left: 3px dotted white;
  border-right: 3px dotted white;
}

.menu-page:nth-child(3) {
  background-color: #8dafc6;
  padding: 1rem;
  border-top: 10px double white;
  border-bottom: 10px double white;
  border-left: 3px dotted white;
  border-right: 3px solid white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu-page:nth-child(3) p,
.menu-page:nth-child(3) h3 {
  color: black;
}

.menu-page:nth-child(3) .union-row {
  border-bottom: 3px dotted black;
}

.menu-page:nth-child(2) .custom-ul:nth-child(4) {
  margin-top: 1rem;
}
